#todolist-container{
    position: absolute;
    top: 200px;
    left: 30%;
    text-decoration: none;
    list-style: none;
    width: 50%;
    height: 50vh;
}

.indivual-todo{
    border: 1px solid brown;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width:90%;
    height: 25%;
    font-size: x-large;
    display: grid;
    grid-template-columns: 4;
    /* grid-template-columns: repeat(0.5fr,2fr, 1fr,1fr ); */
    grid-row: 0;
}

.checkbox{
  /* column-span: 1; */
}

.indivual-todo > button {
    /* column-span: 1; */

}


